* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
:root { 
    --yellow-flat: #fbffa7;
    --blue-flat: #b1c5ff;
    --sky-blue-flat: #b6ffc0;
    --red-flat: #ff764d;
    --purple-flat: #d5b3ff;
    --blue-hard: #0000ff

}
html {
    font-size: 62.5%;
}
 body {
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;;
    width: 100%;
 }
 main {
    width: 100%;
 }
 .main-page {
    width: 100%;
    height: 100%;
 }
 .main-nav {
    width: 100%;
    height: 500px;
    padding: 20px 10px 40px 40px;
    
 }
 .primary-nav {
    display: flex;
    margin-bottom: 30px;
    
 }
 .main-logo__src {
    width: 60px;
    margin-right: 25px;

 }
 .main-logo__src a img {
    width: 60px;
    
 }
 .main-nav__link-list {
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    list-style: none;
    text-decoration: none;

 }
 .main-nav__link-list li a {
    text-decoration: none;
    color: black;
    padding: 18px;
    font-size: 1.7rem;
    font-weight: bolder;
    line-height: 1.5rem;
 }
 .main-nav__link-list__item {
    padding-right: 370px;
 }
 .main-nav__link-list .main-nav__link-list__item a {
    color: var(--red-flat);
 }
 .main-nav__link-list .main-nav__link-list__item--try a{
    color: var(--blue-hard);
 }
 .main-nav__link-list .main-nav__link-list__item--try2 a {
    font-size: 1.4rem;
    font-weight: 600;
 }
 .main-nav__more {
    width: 100%;
    height: 50%;
 }
 .main-nav__section {
    margin: 0px 5px 30px ;
 }
 .main-nav__link {
    display: flex;
    
 }
 .main-nav__section .main-nav__link-list a {
    
    list-style: none;
    text-decoration: none;
    color: black;
 }
 
 .secondary-nav ul {
    display: flex;
 }
 .secondary-nav ul li  {
    list-style: none;
    
 }
 .secondary-nav ul li a {
    
    text-decoration: none;
    color: black;
 }
